<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Preprosta socialna platforma</title>
</head>

<body>
    <h1>OBJAVE</h1>
    <h2>Moje objave</h2>
    <ul>
        {% for ime, vsebina in notes.items() %}
            <li>{{ vsebina }}</li>
        {% else %}
            <li>Ni zapiskov.</li>
        {% endfor %} 
    </ul>
    <form action="/dodajZapisek" method="post">
        <textarea id="moji_zapiski" name="note"></textarea>
        <button type="submit">DODAJ ZAPISKE</button>
    </form>
    <!-- <h2>moje slike</h2> 
    <form>
        <button onClick="submit">DODAJ SLIKE</button>
    </form> -->
    <h2>Prikaz slike:</h2>
    <form action="/dodajSLIKO" method="post">
        <label for="slika">Izberi sliko za nalaganje:</label>
        <input type="file" name="slika" id="slika" accept="image/*" required><br><br>
        <!--<textarea id="moje_slike" name="slike"></textarea> 
        <img src=""-->
        <button type="submit">UPLOAD SLIKO</button>
    </form>
    <br>
        {% if image_url %}
        
        <img src="{{ image_url }}" alt="Naložena slika" width="300">
        {% endif %}
    <form action="/logout" method="post">
        <!-- <textarea id="odjavi_me" name="odjava"></textarea> -->
        <button type="submit">ODJAVI ME</button>
    </form>

</body>
<script>
    $.ajax({
        url: "/api/getWeather",
        data: {
            zipcode: 97201
       },
       success: function (result) {
           $("#weather-temp").html("<strong>" + result + "</strong> degrees");
       }
   });
</script> 
</html>